<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引用db.properties配置文件 -->
    <properties resource="db.properties"/>

    <!-- 为实体类edu.wzm.mybatis.domain.Person配置一个别名_User -->
    <!-- <typeAlias type="edu.wzm.domain.Person" alias="Person"/> -->

    <!--
        为edu.wzm.mybatis.domain包下的所有实体类配置别名，MyBatis默认的设置别名的方式就是去除类所在的包后的简单的类名。
        例如：edu.wzm.domain.Person这个实体类的别名就会被设置成Person
    -->
    <typeAliases>
        <package name="edu.wzm.domain"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${DRIVER}"/>
                <property name="url" value="${URL}"/>
                <property name="username" value="${USERNAME}"/>
                <property name="password" value="${PASSWORD}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 基于XML配置文件 -->
        <mapper resource="mapper/OneToOne.xml"/>
        <mapper resource="mapper/OneToMany.xml"/>
    </mappers>
</configuration>
